body {
  text-align: center;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: solid 4px white;
    padding: 10px 20px;
    margin: 0 auto;
}

td{
  background: #236984;
  color: white;
  margin: 5px;
  font-size: 42px;
  width: 50px;
  text-align: center;
  height: 65px;
}

h1{
  color: #236984;
}

.game-panel{
  width: 500px;
  display: inline-block;
  border: solid 1px #236984;
}
button.highlighted{
  background: #236984;
  color: white;
}
span.highlighted{
  color: #236984;
  font-weight: bold;
}

.restart-panel{
  background: darkgray;
  text-align: left;
  padding: 5px;
}

.turn-panel{
  padding: 20px;
  font-size: 24px;
}
button{
  background: white;
  border: solid 1px #236984;
  padding: 10px;
  margin: 5px;
}
