body {
  text-align: center;

}

img {
  margin: 20px 0;
  max-width: 200px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px 20px;
    margin: 0 auto;
    text-align: left;
}

div{
  padding: 10px;
}
